:root {
  color-scheme: light dark;
  /* Paleta de Colores */
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  font-family: "Menlo", "Consolas", "Courier New", monospace;
  background: var(--black);
  display: grid;
  justify-content: center;
  padding: 32px;
  margin-top: 32px;
  padding: 16px;
}
